##################################
# Terraform
##################################

.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfplan
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

##################################
# Terraform Lock File
##################################

.terraform.lock.hcl

##################################
# VS Code
##################################

.vscode/

##################################
# JetBrains
##################################

.idea/

##################################
# Windows
##################################

Thumbs.db
Desktop.ini

##################################
# macOS
##################################

.DS_Store

##################################
# Logs
##################################

*.log

##################################
# Certificates
##################################

*.pem
*.pfx
*.cer
*.key

##################################
# Secrets
##################################

.env
.env.*

##################################
# Azure
##################################

.azure/

##################################
# Local Testing
##################################

terraform.tfvars
backend.hcl