organisation  = "QPS"
project       = "Azure Enterprise Platform"
environment   = "prod"
location      = "Australia East"
region_code   = "aue"
owner         = "QPS"
cost_centre   = "ICT"
business_unit = "Enterprise Platforms"
