location         = "Australia East"
region_code      = "aue"
environment      = "dev"
application_name = "ropes"

organisation = "QPS"
owner        = "PRBS"
project      = "Azure Enterprise Platform"
cost_centre  = "PRBS"
business_unit = "PRBS"

spoke_vnet_address_space = [
  "10.10.0.0/16"
]

web_subnet_address_prefixes = [
  "10.10.1.0/24"
]

data_subnet_address_prefixes = [
  "10.10.2.0/24"
]

private_endpoint_subnet_address_prefixes = [
  "10.10.3.0/24"
]